<table id="services_table" class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>Name</th>
      <th>Category</th>
      <th>Website</th>
      <th>Notes</th>
      <th>Phone</th>
      <th>Address</th>
      <th>Contact</th>
      <th>Referral</th>
      <th>Eligibility</th>
      <th>Insurance</th>
      <th>Updated</th>
    </tr>
  </thead>

  <tbody>
    <% @services.each do |service| %>
      <tr>
        <td data-halign="center"><%= service.name %></td>
        <td><%= service.category %></td>
        <td><%= !service.website || service.website == '' ? '' : link_to('link', service.website, class: 'btn', target: :_blank) %></td>
        <td><%= service.notes %></td>
        <td><%= service.phone %></td>
        <td><%= service.address %></td>
        <td><%= service.contact %></td>
        <td><%= service.referral %></td>
        <td><%= service.eligibility %></td>
        <td><%= service.insurance %></td>
        <td><%= service.updated_at %></td>
<!--         <td><%= link_to 'Show', service %></td>
        <td><%= link_to 'Edit', edit_service_path(service) %></td>
        <td><%= link_to 'Destroy', service, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<script>

  $(function(){
    var table = $('#services_table').dataTable({
      "autoWidth": true,
      // ****** for debugging.  change to True before deploy ************
      stateSave: false,
      "columnDefs": [{ "visible": false, "targets": [4,5,6,7,8,9,10] }],
      "order": [10, 'desc'],
      paging: false
    });
    // table.columnFilter({
    //   aoColumns: [
    //     {type: 'text'},
    //     {type: 'select'},
    //     {type: 'select', values: ['link', '']},
    //     {type: 'text'},
    //     null, null, null, null, null, null, null
    //   ]
    // });
  });
  // $('window').resize(function(){
  //   var table = $('#resourceTable').dataTable({
  //     "autoWidth": true,
  //     "columnDefs": [{ "visible": false, "targets": [2,3,5,6,7,8,9] }]
  //   });
  // });
</script>

<%= link_to 'New Service', new_service_path %>
