<p id="notice"><%= notice %></p>

<h1><%= @service.name %></h1>
<%= link_to 'Update', edit_service_path(@service), class: 'update btn btn-primary' %>
<%= link_to 'Delete', service_path(@service), method: :delete, class: 'delete btn btn-primary' %>

<div class="container-fluid">
  <div class="table-responsive col-sm-6 col-xs-12">
    <table id="show-service" class="table table">
      <tr>
        <td class="service-label">Category:</td>
        <td class="service-value"><%= @service.category %></td>
      </tr>
      <tr>
        <td class="service-label">Website:</td>
        <td class="service-value"><%= link_to @service.website %></td>
      </tr>
      <tr>
        <td class="service-label">Notes:</td>
        <td class="service-value"><%= html_break(@service.notes) %></td>
      </tr>
      <tr>
        <td class="service-label">Phone:</td>
        <td class="service-value"><%= html_break(@service.phone) %></td>
      </tr>
      <tr>
        <td class="service-label">Address:</td>
        <td class="service-value"><%= html_break(@service.address) %></td>
      </tr>
      <tr>
        <td class="service-label">Contact:</td>
        <td class="service-value"><%= html_break(@service.contact) %></td>
      </tr>
      <tr>
        <td class="service-label">Referral:</td>
        <td class="service-value"><%= html_break(@service.referral) %></td>
      </tr>
      <tr>
        <td class="service-label">Eligibility:</td>
        <td class="service-value"><%= html_break(@service.referral) %></td>
      </tr>
      <tr>
        <td class="service-label">Insurance:</td>
        <td class="service-value"><%= html_break(@service.insurance) %></td>
      </tr>
      <tr>
        <td class="service-label">Updated:</td>
        <td class="service-value"><%= @service.updated_at.to_formatted_s(:long) %></td>
      </tr>
    </table>
  </div>


  <iframe
    class="gmap col-sm-6 col-xs-12"
    frameborder="0" style="border:0"
    src=<%= "https://www.google.com/maps/embed/v1/place?key=#{api_key}&q=#{search_query(@service)}" %>
  >
  </iframe>
</div>