<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @service.name %>
</p>

<p>
  <strong>Category:</strong>
  <%= @service.category %>
</p>

<p>
  <strong>Website:</strong>
  <%= @service.website %>
</p>

<p> 
  <strong>Notes:</strong>
  <%= raw @service.notes.gsub("\n", "<br>") %>
</p>
<p>
  <strong>Phone:</strong>
  <%= @service.phone %>
</p>

<p>
  <strong>Address:</strong>
  <%= @service.address %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @service.contact %>
</p>

<p>
  <strong>Referral:</strong>
  <%= @service.referral %>
</p>

<p>
  <strong>Eligibility:</strong>
  <%= @service.eligibility %>
</p>

<p>
  <strong>Insurance:</strong>
  <%= @service.insurance %>
</p>

<%= link_to 'Edit', edit_service_path(@service) %> |
<%= link_to 'Delete', service_path(@service), method: :delete, class: 'delete' %> |
<%= link_to 'Back', services_path %>
