<p id="notice" class="alert-dismissible"><%= notice %></p>

<div class="show-title">
<h1><%= @service.name %></h1>
<% if user_signed_in? %>
  <%= link_to 'Edit', edit_service_path(@service), class: 'update show-btn btn btn-primary' %>
  <%= link_to 'Delete', service_path(@service), method: :delete, class: 'delete show-btn btn btn-primary' %>
<% end %>
</div>

<div class="container-fluid">
  <div class="col-md-6 col-xs-12">
    <%= render 'partials/show_service_table' %>
  </div>


  <iframe
    class="gmap col-md-6 col-xs-12"
    frameborder="0" style="border:0"
    src=<%= "https://www.google.com/maps/embed/v1/place?key=#{api_key}&q=#{search_query(@service)}" %>
  >
  </iframe>
</div>


<div class="comments">
  <%= render 'partials/show_comments' %>
</div>