<p id="notice"><%= notice %></p>

<h1><%= @service.name %></h1>
<%= link_to 'Edit', edit_service_path(@service), class: 'update show-btn btn btn-primary' %>
<%= link_to 'Delete', service_path(@service), method: :delete, class: 'delete show-btn btn btn-primary' %>

<div class="container-fluid">
  <div class="col-md-6 col-xs-12">
    <%= render 'partials/show_service_table' %>
  </div>


  <iframe
    class="gmap col-md-6 col-xs-12"
    frameborder="0" style="border:0"
    src=<%= "https://www.google.com/maps/embed/v1/place?key=#{api_key}&q=#{search_query(@service)}" %>
  >
  </iframe>
</div>

<div class="comments">
  <h2>Comments</h2>  
  <%= link_to 'New Comment/Rating', '#new_comment_modal', 'data-toggle' => 'modal' %>

  <div class="modal fade" id="new_comment_modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="myModalLabel">New Comment</h4>
        </div>
        <div class="modal-body">
          <%# Render the new comment form (passing modal => true to enable remote => true) %>
          <%= render 'comments/form', modal: true %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>


  <% @comments.each do |comment| %>
    <div class="comment-rating"><%= comment.rating %></div>
    <div class="comment-text"><%= comment.text %></div>
    <div class="comment-author">Author: <%= comment.display_name %></div>
  <% end %>
</div>