<h2>Comments</h2>

<% if user_signed_in? %>

  <%= link_to 'New Comment/Rating', '#new-comment-modal', 'data-toggle' => 'modal' %>

  <%= render 'comments/new' %>

  <% @comments.each do |comment| %>
    <p class="comment-author"><strong><%= comment.display_name %></strong></p>
    <div class="comment-rating">
      <span class="star-rating star-show">
        <input type="radio" value="1" <%= 'checked' if comment.rating == 1 %>><i></i>
        <input type="radio" value="2" <%= 'checked' if comment.rating == 2 %>><i></i>
        <input type="radio" value="3" <%= 'checked' if comment.rating == 3 %>><i></i>
        <input type="radio" value="4" <%= 'checked' if comment.rating == 4 %>><i></i>
        <input type="radio" value="5" <%= 'checked' if comment.rating == 5 %>><i></i>
      </span>
    </div>
    <div class="comment-text"><p><%= html_break(comment.text) %></p></div>
    <div class="comment-updated"><%= distance_of_time_in_words(comment.updated_at, DateTime.now) %> ago</div>
    <% if current_user.comments.include?(comment) %>
      <div class="comment-control">
        <%= link_to 'Edit', '#edit-comment-modal', 'data-toggle' => 'modal' %>
        <%= render 'comments/edit' %>
      </div>
    <% end %>
  <% end %>

<% else %>
  <h5>
    <%= link_to "Log in", new_user_session_path %> to view comments
  </h5>
<% end %>