<span class="star-rating star-show">
  <input type="radio" value="1" <%= 'checked' if rating == 1 %>><i></i>
  <input type="radio" value="2" <%= 'checked' if rating == 2 %>><i></i>
  <input type="radio" value="3" <%= 'checked' if rating == 3 %>><i></i>
  <input type="radio" value="4" <%= 'checked' if rating == 4 %>><i></i>
  <input type="radio" value="5" <%= 'checked' if rating == 5 %>><i></i>
</span>